<div class="card">
    <div class="card-header">
        <span class="fa fa-wrench card-icon" aria-hidden="true"></span> Skills
    </div>
    <div class="card-block">
        <div class="card-text">
            <div ng-repeat="skill_section in $ctrl.data">
                <!-- Create Skill section name-->
                <h3><b>{{skill_section.groupName}}</b></h3>

                <!-- Loop through all skills -->
                <ul>
                    <div ng-repeat="skill in skill_section.keywords">
                        <li><span class="fa fa-caret-right card-icon" aria-hidden="true"></span> {{skill}}</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

