<div>
    <!-- Loop through company titles/positions-->
    <div ng-repeat="title_obj in $ctrl.data.titles">
        <p><b>{{title_obj.title}}</b> <small>{{title_obj.startDate}} - {{title_obj.endDate}}</small></p>
    </div>

    <!-- Print Company Name -->
    <p id="company"><em>{{$ctrl.data.company}}, {{$ctrl.data.city}}, {{$ctrl.data.state}}</em></p>

    <!-- List company highlights -->
    <ul>
        <div ng-repeat="highlight in $ctrl.data.highlights">
            <li><span class="fa fa-caret-right card-icon" aria-hidden="true"></span> {{highlight}}</li>
        </div>
    </ul>
</div>