/* 
    Created on : Mar 19, 2017, 5:23:23 PM
    Author     : Kevin Bosman
*/

/*
    Color scheme #1
        
        #3364B2
        #168D96
        #6C95B7
        #80CECB
        #AEDEE2 
*/

/*
    Color scheme FVK
        
        #C09033  
        #EEE7EB  
        #C7D3D4  
        #81BCBC  
        #574F4F
*/

.navbar {
    background-color: #574F4F;
    color: #EEE7EB;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #C09033;
}


a.nav-link {
    color: #e3f2fd;
}

