/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2017, 10:27:49 PM
    Author     : Kevin Bosman
*/

/*
    Color scheme #1
        
        #3364B2
        #168D96
        #6C95B7
        #80CECB
        #AEDEE2 
*/

/*
    Color scheme FVK
        
        #C09033  
        #EEE7EB  
        #C7D3D4  
        #81BCBC  
        #574F4F
*/


body {
    background-color: #C7D3D4;
    font-family: 'Aldrich';
    font-size: 22px;
    margin-top: 85px;
}

.container { 
    width: auto; 
}

.card {
    word-wrap: break-word;
    background-color: #EEE7EB;
    box-shadow: 8px 8px 1px 1px black;
    margin-bottom: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #574F4F;

}

.card-header {
    word-wrap: break-word;
    background-color: #81BCBC;
    color: #EEE7EB;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #C09033;
    padding: 8px;
}

.card-header .card-icon {
    color: #574F4F;
    font-size:32px;
}

.card-text .card-icon {
    color: #C09033;
}

.resume ul {
    list-style-type:none
}

.footer {
    background-color: #574F4F;
    color: #EEE7EB;
    margin-top: 16px;
    text-align: center;
    border-top-style: solid;
    border-width: 2px;
    border-color: #C09033;
}

.footer a{
    color: #C09033;
}

.footer p:last-child {
    margin-bottom: 0px;
}


